@model SitioWeb.Models.Vehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm("CrearReserva", "Vehiculo",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Vehiculo</h4>
        <hr />
        @Html.Hidden("Id", Model.Id, new { @class = "form-control" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CantidadDisponible)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.CantidadDisponible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CantidadPuertas)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.CantidadPuertas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CiudadId)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.CiudadId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrecioPorDia)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.PrecioPorDia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Puntaje)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.Puntaje)
            </dd>

            <dt>
                @Html.Label("Aire acondicionado")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TieneAireAcon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TieneDireccion)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.TieneDireccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoCambio)
            </dt>

            <dd >
                    @Html.DisplayFor(model => model.TipoCambio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VehiculoCiudadId)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.VehiculoCiudadId)
            </dd>
                        <dt>
                            @Html.Label("Precio Al Publico")
                        </dt>

            <dd >
               
                    @{
                    var precio = Model.CalculoPrecioAlPublico();
                    @Html.Label("" + precio)
                    }
              
            </dd>

                    </dl>
                </div>
                <div class=" col-md-3">
                    @Html.DropDownList("Clientes", new SelectList(ViewBag.Cliente, "Id", "NroDocumento"), "Seleccione cliente", new { @class = "form-control" })
                </div>
                <div class=" col-md-3">
                    @Html.DropDownList("Vendedores", new SelectList(ViewBag.Vendedor, "Id", "Nombre"), "Seleccione vendedor", new { @class = "form-control" })
                </div>
    <div class=" col-md-3">
        Dia de Retiro:
        @Html.TextBox("FechaHoraRetiro", null, "Ingrese el día", new { @type = "date" })
    </div>
    <div class=" col-md-3">
        Día de Devolucion:
        @Html.TextBox("FechaHoraDevolucion", null, "Ingrese el día", new { @type = "date" })
        @{var selectListLugar = new SelectList(new List<SelectListItem>
            {
            new SelectListItem { Text = "Aeropuerto", Value = "Aeropuerto"},
            new SelectListItem{ Text = "Terminal Buses", Value = "TerminalBuses"},
            new SelectListItem{ Text = "Hotel", Value = "Hotel"},
            }, "Value", "Text");
        }
    </div>
    <div class=" col-md-3">
            @Html.DropDownList("LugarRetiro", selectListLugar, "Seleccione el lugar de retiro", new { @class = "form-control" })
</div>
    <div class=" col-md-3">
        @Html.DropDownList("LugarDevolucion", selectListLugar, "Seleccione el lugar de devolución", new { @class = "form-control" })
    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" value="Guardar" class="btn btn-primary ">
                                    <i class="fa fa-check"></i>  Guardar
                                </button>

                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
                            </div>
                        </div>
                    }
